{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}
    <div style="margin-left: 100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                            <h3>Add new property</h3>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <form method="post" enctype="multipart/form-data" class="form" role="form">
                        {% csrf_token %}
                        <div class="table-responsive" id="no-more-tables">
                            <table class="table">
                                <tr><td>{{ form.mlsid.label_tag }}</td>
                                    <td>{{ form.mlsid }}</td>
                                    <td>{{ form.roof.label_tag }}</td>
                                    <td>{{ form.roof }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.address.label_tag }}</td>
                                    <td>{{ form.address }}</td>
                                    <td>{{ form.kitchen.label_tag }}</td>
                                    <td>{{ form.kitchen }}</td>
                                </tr>
                                <tr><td>{{ form.numofbdrms.label_tag }}</td>
                                    <td>{{ form.numofbdrms }}</td>
                                    <td>{{ form.bathrooms.label_tag }}</td>
                                    <td>{{ form.bathrooms }}</td>
                                </tr>
                                <tr><td>{{ form.numofbthrms.label_tag }}</td>
                                    <td>{{ form.numofbthrms }}</td>
                                    <td>{{ form.frontyard.label_tag }}</td>
                                    <td>{{ form.frontyard }}</td>
                                </tr>
                                <tr><td>{{ form.numofmaster.label_tag }}</td>
                                    <td>{{ form.numofmaster }}</td>
                                    <td>{{ form.backyard.label_tag }}</td>
                                    <td>{{ form.backyard }}</td>
                                </tr>
                                <tr><td>{{ form.sqfootage.label_tag }}</td>
                                    <td>{{ form.sqfootage }}</td>
                                    <td>{{ form.termite.label_tag }}</td>
                                    <td>{{ form.termite }}</td>
                                </tr>
                                <tr><td>{{ form.lotsize.label_tag }}</td>
                                    <td>{{ form.lotsize }}</td>
                                    <td>{{ form.foundation.label_tag }}</td>
                                    <td>{{ form.foundation }}</td>
                                </tr>
                                <tr><td>{{ form.askingprice.label_tag }}</td>
                                    <td>{{ form.askingprice }}</td>
                                    <td>{{ form.neighborhood.label_tag }}</td>
                                    <td>{{ form.neighborhood }}</td>
                                </tr>
                                <tr><td>{{ form.offeredpricce.label_tag }}</td>
                                    <td>{{ form.offeredpricce }}</td>
                                    <td>{{ form.soldprice.label_tag }}</td>
                                    <td>{{ form.soldprice }}</td>
                                </tr>
                                <tr><td>{{ form.propertytype.label_tag }}</td>
                                    <td>{{ form.propertytype }}</td>
                                    <td>{{ form.shopper.label_tag }}</td>
                                    <td>{{ form.shopper }}</td>

                                </tr>
                                <tr>
                                    <td>{{ form.image.label_tag }}</td>
                                    <td>{{ form.image }}</td>
                                </tr>
                            </table>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Add New Property">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}