.text_box {
   width: 300px;
   height: 8px;
   border: solid 1px #DDDDDD;
   padding: 15px;
   border-radius: 4px;
   font-size: 16px;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
   /*margin: 20px;*/
  }
.text_box:hover  {
   border: 1px solid #FF9500;
  }
.text_box:focus  {
   border: solid 1px #4DB35C;
   /*box-shadow: inset 0px 1px 2px 0px #9C9C9C;*/
  }
.text_box:active  {
   border: solid 1px #FCDA2D;
  }

.form_label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #aaa;
    font-size: 16px;
    padding-top: 15px;
}

html, body {
    height: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#ftr{
    width: auto;
    max-width: 680px;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
}

/*video#bgvid {*/
    /*position: fixed; right: 0; bottom: 0;*/
    /*min-width: 100%; min-height: 100%;*/
    /*width: auto; height: auto; z-index: -100;*/
    /*background: url(../movie/background.jpg) no-repeat;*/
    /*background-size: cover;*/
/*}*/

#polina button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(../movie/background.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}